<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CinemaApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a  routerLink="/cinema">Cinemas</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
